body{
    background-color: #eee;
}
.row {
    width: 800%;
    max-width: 1200px;
}
.card{
    display: inline-block;
    width: 200px;
    height: 150px;
    margin: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.zoomIn {
    animation: zoomIn 225ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.zoomOut {
    animation: zoomOut 225ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-direction: reverse;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    40%{
        opacity: 0.25;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}