*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #eee;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}
.card{
    background-color: #fff;
    padding: 2.5em 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.title{
    margin-bottom: 1em;
}

.container .card{
    transition: all 0.2s ease-in;
}
.container:hover .card{
    filter: blur(2px);
}
.container .card:hover{
    filter: blur(0px);
    transform: scale(1.05);
}