.header{
    height: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url('/header.png');
}

img{
    width: 50%;
    height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 560px) {

    .header{
        max-height: 300px;
    }

}