@import url('https://fonts.googleapis.com/css?family=Poppins:900&display=swap');

:root {
	--radial: radial-gradient(black, #1aec1a94);
	--green: #1aec1a;
}


.loader-container {
	width: 100vw;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background: var(--radial);
	color: var(--green);
	filter: url('#gooey');
	display: flex;
	justify-content: center;
	align-items: center;
    animation: neonGlow 2s infinite alternate ease-in-out;
}

.liquid-1 {
	position: relative;
}

.loading {
	letter-spacing: 10px;
	font-size: 8rem;
}

@keyframes neonGlow {
  0%{
      text-shadow: 0 0 10px rgba(255, 255, 255 , .8),
                  0 0 20px rgba(255, 255, 255 , .8),
                  0 0 22px rgba(255, 255, 255 , .8),
                  0 0 40px rgba(66, 220, 219, .8),
                  0 0 60px rgba(66, 220, 219, .8),
                  0 0 80px rgba(66, 220, 219, .5),
                  0 0 140px rgba(66, 220, 219, .5),
                  0 0 200px rgba(66, 220, 219, .5);
  }
  100%{
      text-shadow: 0 0 2px rgba(255, 255, 255 , .8),
                      0 0 8px rgba(255, 255, 255 , .8),
                      0 0 10px rgba(255, 255, 255 , .8),
                      0 0 20px rgba(66, 220, 219, .8),
                      0 0 30px rgba(66, 220, 219, .8),
                      0 0 40px rgba(66, 220, 219, .5),
                      0 0 50px rgba(66, 220, 219, .5),
                      0 0 80px rgba(66, 220, 219, .5);
  }
}

.drop {
	position: absolute;
	background: var(--green);
	width: 22px;
	height: 22px;
	border-radius: 60% 70% 50% 60% / 65% 66% 60% 65%;
	animation: 6s move ease infinite;
}

.drop:after {
	width: 17px;
	height: 17px;
	content: '';
	position: absolute;
	background: var(--green);
	border-radius: 50% 60% 60% 70% / 60% 65% 65% 65%;
	left: 25px;
	top: 3px;
	animation: 6s drop_effect ease infinite;
}

svg {
	position: absolute;
}

@keyframes move {
	0%, 100% {
		transform: translate(370px);
	}
	
	50% {
		transform: translate(-370px);
	}
}

@keyframes drop_effect {
	0% {
		left: 0px;
	}
	5% {
		left: 35px;
	}
	45% {
		left: 0px;
	}
	50% {
		left: 0px;
	}
	55% {
		left: -30px;
	}
	95% {
		left: 0px;
	}
	100% {
		left: 0;
	}
}

@media screen and (min-width: 320px) and (max-width: 820px){
	.loader-container{
		width: 100vw;
		min-height: 100vh;
	}
	.loading{
		font-size: 2rem;
	}
}