*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
}
.container{
    width: 50%;
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
    
}
.contenedor{
    width: 100%;
    overflow: hidden;
    width: 550px;
    height: 400px;
}
.contenedor > ul{
    list-style: none;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.contenedor > ul > li{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.slider__img1{
    background-image: url(../images/sala1.jpg);
}
.slider__img2{
    background-image: url(../images/sala2.jpg);
}
.slider__img3{
    background-image: url(../images/sala3.jpg);
}
.slider__img4{
    background-image: url(../images/sala4.jpg);
}
