body{
    margin: 0;
    padding: 0;
}

#menu{
    width: 100%;
    margin-bottom: 0;
    margin-top: 0
}

#menu ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#menu ul li{
    list-style: none;
    background-color: #2e518b;
}

#menu ul li:hover{
    background-color: #5b78a7;
}

#menu ul a{
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    font-variant: small-caps;
    letter-spacing: 1px;
    
}

#menu ul.dropdown1{
    display: none;
    position: absolute;
    top: 7%;
    right: 300px;
    background-color: #eee;
    padding: 0;
    /* min-height: 100px; */
}

#menu ul .dropdown li{
    width: 150px;
}

#menu ul ul a{
    line-height: 120%;
    padding: 10px 15px;
}

#menu li:hover > ul{
    display: block;
}

#menu ul .dropdown2{
    display: none;
    position: absolute;
    right: 15px;
    background-color: #eee;
    padding: 0;
}


#menu ul li .dropdown2 li{
    left:10 px;
    top: 20%;
}

#menu ul li ul li:hover > ul{
    display: block;
}
